/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
}

.container-header {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 3rem;
}

.container-text{
    text-align: center;
    float: none;
    margin-left: auto;
    margin-right: auto;
}


.image-ladrillo{
    width: 100%;
    margin-top: 20px;   
}

.boton-link {
    margin: 0;
    font-size: 27px;
    text-decoration: none;
}

.barra-lateral {
    background-color: black;
    height: 150rem;
    width: 25rem;
    color: white;
    position: absolute;
    
}

/* Estilos para las secciones */
section {
    background-color: white;
    padding: 20px;
    margin: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

h2 {
    font-size: 24px;
}

/* Estilos para el footer */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
}

/* Estilos para dispositivos móviles (hasta 767px) */
/* body {
    font-size: 16px;
} */


/* Estilos para tabletas y dispositivos más grandes (768px y superiores) */
@media screen and (min-width: 768px) {
    body {
        font-size: 18px;
    }

    .boton-link{
        font-size: 30px;
    }
    .container-header {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .container-text {
        width: 60%;
    }

    .img-container {
        margin-top: 0;
        width: 40%;
    }
}
