body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.flex-container{
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    height: 700px;
    
}

.navbar{
    background-color: #484747;
    height: 30px;
    width: 500px;
    color: white;
}

.main{
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
}

.menu{
    background-color: black;
}

.title-description{
    margin-top: 10%;
}

a{
    text-decoration: none;
    color: white;
}

.container-caja{
    margin-top: 15%;
    margin-left: 10%;
    justify-content:space-between;

}

.caja{
    border: 1px solid black;
    background-color: #484747;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    /* line-height: 120px; */
    margin-left: 10%;
}

.c2{
    order: 1;
}

.c1{
    order: 2;
}

.c3, .c4, .c5, .c6{
    text-align: center;
    margin-bottom: 10%;
    font-size: 1.5em;
    line-height:2em;
}

.menu{
    color: rgb(255, 255, 255);
    text-align: center;
}

/* Estilos para tabletas y dispositivos más grandes (768px y superiores) */
/* @media screen and (min-width: 768px) {
    body {
        font-size: 18px;
    }

    .boton-link{
        font-size: 30px;
    }
    .container-header {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .container-text {
        width: 60%;
    }

    .img-container {
        margin-top: 0;
        width: 40%;
    }
} */
